{% extends 'layout/base.html' %} {% block content %}

<div
  class="container d-flex justify-content-center align-items-center"
  style="min-height: 80vh"
>
  <div class="card p-4 shadow-sm login-card">
    <h3 class="text-center mb-3 text-success">Register</h3>
    <p class="text-center text-muted mb-4">Buat akun LENTERA Insight</p>

    <form method="POST">
      <div class="mb-3">
        <label class="form-label">Username</label>
        <input
          type="text"
          name="username"
          class="form-control"
          placeholder="Masukkan username"
          required
        />
      </div>

      <div class="mb-3">
        <label class="form-label">Password</label>
        <input
          type="password"
          name="password"
          class="form-control"
          placeholder="Masukkan password"
          required
        />
      </div>

      <button type="submit" class="btn btn-success w-100">Daftar</button>
    </form>

    <p class="text-center mt-3">
      Sudah punya akun?
      <a href="{{ url_for('auth.login') }}">Login di sini</a>
    </p>
  </div>
</div>

{% endblock %}
